@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
.example-card {
    max-width: 100%;
    background-color: rgb(116, 176, 60);
    font-family: 'Figtree', sans-serif;
    height: 147.5%;
    border-radius: 0%;
  }

  .full-width{
    width: 100%;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .like-button{
    background-color: rgb(61, 166, 156);
    left: 40px;
    border-radius: 15px;
  }

  .share-button{
    background-color: rgb(61, 166, 156);
    left: 55px;
    border-radius: 15px;
  }

  .mat-table{
    box-shadow: none;
    width: 100%;
  }

  .mat-cell {
    padding: 8px 8px 8px 0;
  }

  .product-listing-image{
    height: 20em;
    width: 15em;
    transform: translate(-22%);
  }

  @media all and (max-width:699px){
    .product-listing-image{
      height: 9em;
      width: 7em;
    }
  }

  .mat-spinner{
    margin: 10% auto;
  }

  .name{
    font-size: smaller; 
  }
  
  .description{
    font-size: smaller; 
  }
  

  .cart-button{
    background-color: rgb(61, 141, 166);
    margin-left: 35px;
  }


  mat-paginator {
    background-color: transparent;
  }

  
  
  .mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
  
  
  .name,.description,.price{
    font-family: 'Philosopher', sans-serif;
    color: black;
  }

  .slideshow {
    border-radius: 15px !important;
  }

.carousel-container {
  
  transform: translate(-1.129%,-3.7%);
  width: 105%;
}
.filter-icon {
  color: rgb(41, 58, 19);
}