<link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-card class="example-card">
  <div class="carousel-container">
    <mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="30"
  slides="5"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  >
  <div
  style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center"
>
  <h1 style="padding: 10px; opacity: 88%; font-family: 'Philosopher', sans-serif;">Your Trusted Consultant <br>&nbsp;For Health & Well-Being</h1>
  <a href="/contact-us"><button style="border-radius: 25px; box-shadow: none; border: none; padding: auto; height: 30px;width: 120px; cursor: pointer;font-family: 'Philosopher', sans-serif;"><i class="fa fa-phone"></i>&nbsp;&nbsp;Contact Us</button></a>
</div>
</mat-carousel-slide>
</mat-carousel>
  </div>
  <mat-card-content style="margin-top: -15px;">
    <mat-form-field class="full-width" id="custom-search-field">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search..."
      />
      <mat-icon matSuffix class="filter-icon">filter_list</mat-icon>
    </mat-form-field>
    
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="background-color: transparent;">
      <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="imgUrl">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let product"> 
          <img [src]="product.imgUrl" class="product-listing-image" style="border-radius: 15px;  margin-right: -81px;" />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let product" class="name" [innerHTML]="product.name"></td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let product" class="description" [innerHTML]="product.description"></td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price" >
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let product" class="price">
          {{ product.price | currency :'Rs.'}}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Action</th>
        <td mat-cell *matCellDef="let product">
          <pm-add-to-cart [product]="product"></pm-add-to-cart>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[3, 6, 9]"
      showFirstLastButtons
    ></mat-paginator>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </mat-card-content>
</mat-card>